.container {
    max-width: 70%;
    margin: 10px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.cart-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}